Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1 Python
    2 R
    3 Java

Some of the commonly used libraries used by Data Scientists include:

1 Pandas
2 NumPy
3 MatplotLib

| Data Scince Tools |
|-------------------|
| Tensorflow |
| Apache Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

_Objectives :_
* Python
* SQL
* Julia
* Java
* Scala

## Author
## Swapnil